.pageContainer {
  margin: 0 auto;

  h1 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xlarge);
  }

  p {
    font-weight: var(--font-weight-regular);
  }
}

.cardList {
  gap: var(--spacing-medium);
  width: 100%;
  list-style-type: none;
  padding: 0;

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}